body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
}

.bg-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.bg-container {
  width: 100%;
  min-height: 510.5px; /* adjust as you need */
  background-color: hsl(235, 21%, 11%);
  padding: 20px;
  box-sizing: border-box;
}

.todo-container {
  width: 500px;
  height: 200px;
  position: absolute;
  top: 10%;
  left: 35%;
}

.heading h1 {
  font-size: 34px; /* Adjust size as you wish */
  letter-spacing: 12px;
  color: hsl(0, 0%, 98%); /* Example color */
  margin: 0; /* Remove default margin */
}

.heading img {
  width: 24px; /* Control the icon size */
  height: 24px;
  cursor: pointer; /* Optional: make the image clickable */
}

.todo-input {
  background-color: hsl(235, 24%, 19%);
  color: white;
  border: none;
  outline: none;
  margin-top: 3em;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  align-items: center;
  height: 30%;
  text-indent: 75px;
}

.heading,
.todo-input,
.todo-list {
  width: 100%;
  box-sizing: border-box;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-input::placeholder {
  color: hsl(233, 14%, 35%);
}
.circle {
  width: 30px;
  height: 30px;
  border: 1px solid hsl(233, 14%, 35%);
  border-radius: 50%;
  position: absolute;
  top: 6em;
  left: 1.5em;
}

.todo-list {
  background-color: hsl(235, 24%, 19%);
  margin-top: 2em;
  border-radius: 5px;
  box-sizing: border-box;
}

.tabs {
  display: flex;
  padding: 2em 2em;
  font-size: 0.8rem;
  color: hsl(233, 14%, 35%);
  cursor: pointer;
}

.active-tab {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 40%;
}

.active-button {
  color: hsl(220, 98%, 61%);
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
  align-self: center;
}
.list-checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 1em 1.5em;
}

.list-checkbox > .text {
  color: hsl(0, 0%, 98%);
  font-size: 1.2rem;
  line-height: 1;
  margin-left: 0.7em;
}

.custom-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 30px;
  width: 30px;
  border: 1px solid hsl(233, 14%, 35%);
  border-radius: 50%;
  transition: background 0.3s ease;
}

/* When checkbox is checked */
.custom-checkbox input:checked + .checkmark {
  background: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

/* Optional: Add a check icon (tick mark) */
.custom-checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 5px;
  width: 8px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.line {
  width: 100%;
  height: 2px;
  background-color: hsl(233, 14%, 35%);
}
